<form class="flexcol">
    <div class="form-group">
        <div>
            {{#each timeOptions}}
            <label for="hour-{{this}}">{{this}}:00</label>
            <input type="checkbox" name="hour-{{this}}" value="true" id="hour-{{this}}" />
            {{/each}}
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>