{{#*inline "checkboxPartial"}}
<label for="hour-{{this.hour}}">{{this.time}}</label>
<input type="checkbox" name="hour-{{this.hour}}" value="true" {{this.checked}} />
{{/inline}}

<form class="flexcol">
    <div class="form-group">
        <div>
            <fieldset>
                <legend>Morning:</legend>
                {{#each morning}}
                {{> checkboxPartial}}
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>Afternoon:</legend>
                {{#each afternoon}}
                {{> checkboxPartial}}
                {{/each}}
            </fieldset>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>