<form class="flexcol">
    <div class="form-group">
        <div class="grid-container">
            Hey Hey My My!!
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>