<form class="flexcol">
    <div class="form-group">
        <label for="dawn-dusk-enabled">{{localize "DBTIME.Settings.DawnDuskEnabled"}}</label>
        <input type="checkbox" name="dawn-dusk-enabled" value="true" {{checked dawn-dusk-enabled}} />
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>