<form class="flexrow">
    <div class="form-group">
        <label for="set-time">{{localize "JDTIMEKEEPING.SetTime.label"}}:</label>
        <input type="time" name="set-time" step="300" value="{{dawn-start}}" />
    </div>
</form>