<form class="flexcol">
    <div class="form-group">
        Hello there
    </div>

    <footer class="sheet-footer flexrow">
        {{!-- <button type="button" name="reset" data-action="reset">
            <i class="fa-solid fa-undo"></i> {{localize "SETTINGS.Reset"}}
        </button> --}}
        <button type="submit" name="submit">
            <i class="fa-solid fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
    </footer>
</form>