<div class="et-time flexcol">
    <span id="timeofday" class="flexrow flex-align-center">
        {{time}}
    </span>
    {{!-- TODO: don't even show this if the user is not a GM --}}
    <span class="button-container flexrow receive-pointer-events time-button-container">
        <i id="btn-et-small-jump" data-action="time-delta" data-target="large-decrement"
            class="fa-solid fa-backward-fast"></i>
        <i id="btn-et-small-jump" data-action="time-delta" data-target="small-decrement"
            class="fa-solid fa-backward"></i>
        <i id="btn-et-small-jump" data-action="time-delta" data-target="small-increment"
            class="fa-solid fa-forward"></i>
        <i id="btn-et-large-jump" data-action="time-delta" data-target="large-increment"
            class="fa-solid fa-forward-fast"></i>
    </span>
    <span class="button-container flexrow receive-pointer-events time-button-container">
        <i id="btn-et-set-time" data-action="set-time"
            class="fa-solid fa-clock"></i>
        <i id="btn-et-reset-time" data-action="reset-time"
            class="fa-solid fa-clock-rotate-left"></i>
    </span>
</div>